$clr-red:hsl(0, 78%, 62%);
$clr-cyan:hsl(180, 62%, 55%);
$clr-orange:hsl(34, 97%, 64%);
$clr-blue:hsl(212, 86%, 64%);
$clr-grey-500:hsl(234, 12%, 34%);
$clr-grey-400:hsl(212, 6%, 44%);
$clr-white:hsl(0, 0%, 100%);

$text-1-semibold:600 1.5rem/140% "Poppins", sans-serif; 
$text-2-extralight:200 1.5rem/140% "Poppins", sans-serif; 
$text-3-semibold:600 1.25rem/135% "Poppins", sans-serif;
$text-4-regular:400 0.9375rem/140% "Poppins", sans-serif;
$text-5-regular:400 0.8125rem/160% "Poppins", sans-serif;

$text-1-desktop-semibold: 600 2.25rem/140% "Poppins", sans-serif; 
$text-2-desktop-extralight:200 2.25rem/140% "Poppins", sans-serif; 

$ls-025:0.25px;
$ls-0:0px;


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}


@mixin top-border($color){
    border-top: 4px solid $color;
}

header{
    text-align: center;
    max-width: 19.75rem;
    margin-inline: auto;

    h1{
        font: $text-2-extralight;
        color: $clr-grey-500;
        letter-spacing: $ls-025;
        padding-inline: 0.125rem;
    }

    h2{
        font: $text-1-semibold;
        color: $clr-grey-500;
        letter-spacing: $ls-025;
        margin-bottom: 1rem;
        padding-inline: 2px;
    }

    .title-p{
        font: $text-4-regular;
        color: $clr-grey-500;
        letter-spacing: $ls-0;
        padding-inline: 0.3125rem;
        margin-bottom: 3.75rem;
    }

}

body{
    margin-block: 3.5rem 3.8125rem;
    display: flex;
    justify-content: center;
    font-size: 0.9375rem; 
}


.content{
    display: grid;
    grid-template-columns: minmax(250px, 314px);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    place-content: center;

    .sub{
    padding: 2rem;
    border-radius: 0.5rem;
    color: $clr-white;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    display: flex;
    flex-direction: column;

        h3{
        font:$text-3-semibold;
        color: $clr-grey-500;
        letter-spacing: $ls-0;
        margin-bottom: 0.375rem;
        }

        .sub-p{
        font: $text-5-regular;
        letter-spacing: $ls-0;
        color: $clr-grey-400;
        margin-bottom: 2rem;
        }

        .icon{
        height: 64px;
        width: 64px;
        margin-left: auto;
        }
    }
    .supervisor{
    @include top-border($clr-cyan);
    } 
    .team{
    @include top-border($clr-red);
    } 
    .karma{
    @include top-border($clr-orange);
    } 
    .calculator{
    @include top-border($clr-blue);
    }
}



@media(min-width:768px){
    body{
    margin-block: 5rem;
    }

    header{
    margin-bottom: 4.625rem;
    max-width: 540px;
    padding-inline: 10px;

        h1{
        font: $text-2-desktop-extralight;
        letter-spacing: $ls-025;
        }
        h2{
        font: $text-1-desktop-semibold;
        letter-spacing: $ls-025;
        }

    }
    
    .content{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;

            .sub{
            max-width: 314px;
            }
            .team{
            order: -3;
            grid-column: span 2;
            }
            .calculator{
            grid-column: span 2;
            }
    }
}

@media(min-width:1440px){
    body{
    margin-top: 102px;
    margin-bottom: 163px;
    }

    .container{
    max-width: 1114px;
    width: 100%;
    }

    .content{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap:2rem;

        .sub{
        max-width: 350px;
        }
        .team{
        grid-column: 2;
        grid-row: 1/3;
        }
        .supervisor{
        grid-row: 2/4;
        }
        .calculator{
        grid-column: 3;
        grid-row: 2/4;
        }
        .karma{
        grid-row: 3/5;
        grid-column: 2;
        }
    }

}
